* {
    font-family: "Space Grotesk", sans-serif;
}

.card-category {
    font-family: "Space Grotesk", sans-serif;
    .h1 {
        font-family: "Space Grotesk", sans-serif;
    }
}

.list-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}