.card {
    position: relative;
    border: 0;
    height: 200px;
    width: 350px;
    border-radius: 15px;
    .card-name {
        font-weight: bolder;
        font-size: 20px;
        color: white;
        left: 0;
        position: absolute;
        text-align: center;
        align-items: center;
        margin-top: 90px;
        width: 100%
    }
}

.card-img {
    object-fit: cover;
    background: rgba(0, 0, 0, 0.6)
}

.card-img:hover {
    opacity: 0.6;
}